.bigblue {
    padding: 20px;
    font-family: Arial;
    text-align: center;
    display: block;
    font-size: 40px;
 font-weight: bold;
 margin-top: 20px;
 
  }
label{
    padding: 20px;
    font-family: Arial;
    text-align: left;
    display: block;
    font-size: 2em;
 font-weight: bold;
 margin-top: 20px;
}
form{
    padding: 20px;
    margin-top: 20px;

}
